*{
    font-family: sans-serif;
}
.logowanie{
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
    margin: auto;
    color: white;
}   

.button-logowanie{
    height: 35px;
    width: 85px;
    border-radius: 7px;
    color: white;
    background-color: blue;
}
.button-tworzenie
{
    height: 27px;
    width: 115px;
    border-radius: 7px;
    color: white;
    background-color: blue;
}
.header{
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

.main_index{
    text-align: center;
    width: 50%;
    background-color: blue;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 15px 15px 20px blue;
    color: white;
    margin: auto;
}
.main_szukanie{
    text-align: center;
    width: 25%;
    background-color: blue;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 15px 15px 20px blue;
    color: white;
    margin: auto;
}

.main_logout{
    text-align: center;
    width: 15%;
    height: 15%;
    background-color: blue;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px blue;
    color: white;
    margin: auto;
}

img{
    width: 50%;
    border: 3px solid black;
    box-shadow: 5px 5px 20px blue;
    border-radius: 20px;
    margin-bottom: 20px;
}

.lista{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    background-color: blue;
    box-shadow: 5px 5px 20px blue;
}

.wyp{
    padding: 10px;
    margin: 10px;
    background-color: blue;
}

.button-lista{
    height: 28px;
    width: 180px;
    margin: 5px;
    border-radius: 7px;
    color: white;
    background-color: blue;
}
.krecha{
    border: 1px solid black;
}
.szukanie{
    padding: 10px;
}

.nav{
    text-align: center;
    margin-bottom: 15px;
}
.main{
    text-align: center;
}
.footer{
    text-align: center;
}